<footer>
  <hr />
        <p>
          Copyright <span aria-hidden="true">&copy;</span> 2001&ndash;{% year %}, {{ site.author }}. <a class="underline" href="/legal/">Legal</a>
        </p>
        <p>
          <a class="underline" href="/colophon/">Made</a> in Plano, Texas.</p>
        <p>
          <em>Soli Deo Gloria</em>
        </p>

        <a title="Back to Top" href="#top">return to top &#8593;</a>

        <span class="row__item--right">
            <a href="https://github.com/ecrosstexas/ecrosstexas-11ty-site/edit/main/{{page.inputPath}}">Edit</a>
            &middot;
            <i class="fa fa-arrow-up"></i> <a href="#">Top</a>
          </span>


</footer>

