<header>
  <a href="#content" class="hidden">skip to content</a>
  <div>ecrosstexas.com logo</div>
  <nav>
    <li><a href="/">Home</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/notes/">Notes</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/contact/">Contact</a></li>
  </nav>
  <hr />
</header>

