---
stylesheets:
  - /assets/styles/style.css
---
{#- Canonical URL. Make sure each page has one. #}
{%- set canonicalUrl -%}{{ page.url | toAbsoluteUrl }}{%- endset -%}
{#- https://dinhanhthi.com/11ty-nunjucks/#recognize-home-page #}
{%- set pageUrlLength -%}{{ page.url | length }}{%- endset -%}

<!DOCTYPE html>
<html lang="{{ site.lang }}">
<!--
  I see you are taking a peek under the hood.
  View the source here: {{ site.repo }}
-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%- if pageUrlLength > 1 %}
    <title>{{ seo.title or title }} — {{ site.title }}</title>
  {%- else %}
    <title>{{ site.title }}</title>
  {%- endif %}
    <meta name="description" content="{{ seo.description or excerpt or site.description }}">
    <meta name="author" content="{{ site.author }}">
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="canonical" href="{{ canonicalUrl }}">
  {#- Global and page/layout-specific CSS #}
  {%- for href in stylesheets %}
    <link rel="stylesheet" href="{{ href }}">
  {%- endfor -%}
  {%- include "partials/meta_head.njk" %}
  </head>
  <body>
  {%- include "partials/page_header.njk" -%}
    <main id="content">
      {%- if pageUrlLength > 1 -%}
      <h1>{{ title }}</h1>
      {%- endif -%}
    {{ content | safe }}
    {#% include "partials/webmentionlist.njk" %#}
    </main>
  {%- include "partials/page_footer.njk" -%}
  </body>
</html>