---
title: 404 - Page Not Found
permalink: 404.html
layout: default
eleventyExcludeFromCollections: true
---
The resource you are looking for cannot be found.

Head back to the <a href="/" title="ecrosstexas.com homepage">homepage</a> or check the <a href="/sitemap/" title="ecrosstexas.com sitemap">sitemap</a>.

<h2>Want to dive in and discover something?</h2>

<ol class="pt-4">
{# TODO FIX THIS {%- for post in collections.post | {# limit(10) -%} #}
{%- for post in collections.post -%}
  <li><a class="underline" href="{{ post.url }}">{{ post.data.title }}</a></li>
{%- endfor -%}
</ol>
<!-- IE needs 512+ bytes: https://docs.microsoft.com/archive/blogs/ieinternals/friendly-http-error-pages -->
