---
title: jounral
permalink: jounral/index.html
date:
layout: default
eleventyExcludeFromCollections: false
seo:
  title: My Journal
  description:
  tags:
  - pages
---

{% set postslist = collections.journal %}

{#
  Allows a user to easily change the Post List Style.
  Change the 'postListStyle' value in /_data/structure.json.
  NOTE: Can make this a select in the CMS?
#}
{% set postlist = ['partials/','', structure.postListStyle, '.njk'] %}
{% include postlist | join %}
