        <ul class="navbar-links">
          <li class="navbar-item">
            <a class="navbar-link home" href="/" aria-current="page">Home</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="/about/">About</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="/blog/">Blog</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="/notes/">Notes</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="/contact/">Contact</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="/colophon/">Colophon</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="/legal/">Legal</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="/sitemap/">Sitemap</a>
          </li>
        </ul>
        <ul>
                    <li class="navbar-item">
            <a href="https://github.com/ecrosstexas/ecrosstexas-11ty-site/edit/main/{{page.inputPath}}">Edit this Page</a>
          </li>
          <li class="navbar-item">
            <a title="Back to Top" href="#top">Return to Top &#8593;</a>
          </li>
          </ul>