        <ul class="navbar-links">
          <li class="navbar-item">
            <a class="navbar-link home" href="/" aria-current="page">Home</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="/about/">About</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="/blog/">Blog</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="/notes/">Notes</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="/contact/">Contact</a>
          </li>
        </ul>