{#- Refrence https://github.com/joshbuchea/HEAD as needed! #}
  {#- Robtos #}
  {% if noindex == true %}
    <meta name="robots" content="noindex,follow">
  {% endif %}

  {#- Open Graph #}
    <meta property="og:site_name" content="{{ site.title }}">
  {%- if pageUrlLength > 1 %}
    <meta property="og:title" content="{{ seo.title or title }} — {{ site.title }}">
  {%- else %}
    <meta property="og:title" content="{{ seo.title or title }}">
  {%- endif %}
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ page.url | toAbsoluteUrl }}">
    <meta property="og:locale" content="{{ site.locale }}">
  {%- if thumbnail -%}
    <meta property="og:image" content="{{ thumbnail }}">
  {%- endif -%}
  {#- Twitter Card #}
    <meta name="twitter:card" content="summary">
  {%- if pageUrlLength > 1 %}
    <meta property="twitter:title" content="{{ seo.title or title }} — {{ site.title }}">
  {%- else %}
    <meta property="twitter:title" content="{{ seo.title or title }}">
  {%- endif %}
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:site" content="{{ site.twitter }}">
  {%- if thumbnail -%}
    <meta name="twitter:image" content="{{ thumbnail }}">
  {%- endif -%}
  {#- disallow Twitter from using your site's info for personalization purposes #}
    <meta name="twitter:dnt" content="on">
  {#- Favicons #}
    {# TOD0: get working}
    {% favicon '/assets/favicon/favicon.png' %} #}
  {#- .Manifest #}
    <link rel="manifest" href="/manivest.webmanifest">
  {#- Humans.txt - https://humanstxt.org #}
    <link type="text/plain" rel="author" href="/humans.txt">
  {#- IndieAuth --- NEED TO UPDATE TO ONLY SHOW ON HOME PAGE #}
    <link rel="authorization_endpoint" href="{{ site.indieauthAuth }}">
    <link rel="token_endpoint" href="{{ site.indieauthToken }}">
  {# Webmentions #}
    <link rel="webmention" href="https://webmention.io/www.ecrosstexas.com/webmention" />
    <link rel="pingback" href="https://webmention.io/www.ecrosstexas.com/xmlrpc" />
  {#- RSS Feed #}