<footer class="tdbc-background--secondary">
{% include "partials/footer_nav.njk" %}
  <hr />
  <div class="tdbc-container tdbc-text-align-center">
    <div class="tdbc-row tdbc-ink--light tdbc-mx-auto">
      <p class="tdbc-mb-none">
        Copyright <span aria-hidden="true">&copy; </span>{{ site.bornYear }}&ndash;{% year %}, {{ site.author }}.
      </p>
    </div>
    <div class="tdbc-row tdbc-ink--light tdbc-mx-auto">
      <p class="tdbc-mb-none">
        Made in {{ site.location }}.
      </p>
    </div>
    <div class="tdbc-row tdbc-ink--light tdbc-mx-auto">
      <p class="tdbc-mb-none">
        <em>Soli Deo Gloria</em>
      </p>
    </div>
  </div>
</footer>

