<header>
  <div>
    <nav aria-label="Primary">
      <a href="#content" class="screen-reader-only skip-navigation">skip to content</a>
      <a href="/" aria-label="Home page" aria-current="page">
                    <img src="/assets/favicons/favicon-128.png" alt=""/>
                    <span>ecrosstexas.com</span>
      </a>
        {%- include "partials/header_nav.njk" -%}
      </nav>
  <hr />
  </div>
</header>