<footer class="">
{% include "partials/footer_nav.njk" %}
  <hr />
  <div class="">
    <div class="">
      <p class="">
        Copyright <span aria-hidden="true">&copy; </span>{{ site.bornYear }}&ndash;{% year %}, {{ site.author }}. Some rights reserved.
      </p>
      <p class="">
        ecrosstexas is a trademark of Eric Wallace.
      </p>
    </div>
    <div class="">
      <p class="">
        Made in {{ site.location }}.
      </p>
    </div>
    <div class="">
      <p class="">
        <em>Soli Deo Gloria</em>
      </p>
    </div>
  </div>
</footer>

