<header>
  <div>
    <nav aria-label="Primary">
      <a href="#content" class="screen-reader-only skip-navigation">skip to content</a>
      <a href="/" aria-label="Home page" aria-current="page">
                    <img src="/assets/favicons/favicon-128.png" alt=""/>
                    <span>ecrosstexas.com</span>
      </a>
        <ul class="navbar-links">
          <li class="navbar-item">
            <a class="navbar-link home" href="/" aria-current="page">Home</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="/about/">About</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="/blog/">Blog</a>
          </li>
            <li class="navbar-item">
              <a class="navbar-link" href="/notes/">Notes</a>
          </li>
          <li class="navbar-item">
              <a class="navbar-link" href="/contact/">Contact</a>
          </li>
        </ul>
      </nav>
  <hr />
  </div>
</header>